<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.li.springBootPro.mapper.SerializeIdTabPOMapper" >
  <resultMap id="BaseResultMap" type="com.li.springBootPro.entry.serializeIdTabPO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="serialize_id" property="serializeId" jdbcType="VARCHAR" />
    <result column="info" property="info" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, serialize_id, info
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from serialize_id_tab
    where id = #{id,jdbcType=INTEGER}
  </select>

  <resultMap id="TestResultMap" type="com.li.springBootPro.entry.serializeIdDTO" >
    <id column="sit_id" property="id" jdbcType="INTEGER" />
    <result column="sit_code" property="code" jdbcType="VARCHAR" />
    <result column="sit_serialize_id" property="serializeId" jdbcType="VARCHAR" />
    <result column="sit_info" property="info" jdbcType="VARCHAR" />
    <collection property="detailTabPOList" column="sit_serialize_id" ofType="com.li.springBootPro.entry.detailTabPO" >
      <id column="dt_id" property="id" jdbcType="INTEGER" />
      <result column="dt_code" property="code" jdbcType="VARCHAR" />
      <result column="dt_serialize_id" property="serializeId" jdbcType="VARCHAR" />
      <result column="dt_period" property="period" jdbcType="VARCHAR" />
      <result column="dt_info" property="info" jdbcType="VARCHAR" />
    </collection>
  </resultMap>
  <select id="selectDetailUnderDt" resultMap="TestResultMap">
    select
        sit.id sit_id,
        sit.code sit_code,
        sit.serialize_id sit_serialize_id,
        sit.info sit_info,
        dt.id dt_id,
        dt.code dt_code,
        dt.serialize_id dt_serialize_id,
        dt.period dt_period,
        dt.info dt_info
    from serialize_id_tab sit
    left join detail_tab dt on dt.serialize_id = sit.serialize_id
    where sit.code = '001'
    and dt.code = '001'
    order by sit.serialize_id, dt.period
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from serialize_id_tab
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.li.springBootPro.entry.serializeIdTabPO" >
    insert into serialize_id_tab (id, code, serialize_id, 
      info)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{serializeId,jdbcType=VARCHAR}, 
      #{info,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.li.springBootPro.entry.serializeIdTabPO" >
    insert into serialize_id_tab
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="serializeId != null" >
        serialize_id,
      </if>
      <if test="info != null" >
        info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="serializeId != null" >
        #{serializeId,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        #{info,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.li.springBootPro.entry.serializeIdTabPO" >
    update serialize_id_tab
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="serializeId != null" >
        serialize_id = #{serializeId,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        info = #{info,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.li.springBootPro.entry.serializeIdTabPO" >
    update serialize_id_tab
    set code = #{code,jdbcType=VARCHAR},
      serialize_id = #{serializeId,jdbcType=VARCHAR},
      info = #{info,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>